.combobox-wrapper {
    position: relative;
    width: 100%;
}

.combobox-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;

    /* max-height: 200px; */
    overflow-y: auto;

    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.combobox-option {
    padding: 10px 12px;
    cursor: pointer;
}

.combobox-option:hover {
    background-color: #f5f5f5;
}