<!-- MODAL EDIT PASSWORD -->
<div id="modalEditPassword"
    class="custom-modal-overlay">
    <div class="custom-modal-box" style="padding-bottom: 0px;">
        <form onsubmit="return false;">
            <div style="display:flex;">
                <h3 class="custom-modal-title">
                    Ubah Password
                </h3>
                <button class="modal-close" onclick="closeEditPasswordConfirmModal()" style="width:30px;margin-top:-30px;margin-left: 180px;">&times;</button>
            </div>
            <input type="hidden" id="editPasswordUserId">
            <div class="custom-form-group">
                <label class="custom-form-label">
                    Password baru
                </label>
                <input
                    type="password"
                    id="newPassword"
                    class="custom-form-input"
                    placeholder="Masukkan password baru"
                    autocomplete="new-password"
                >
            </div>
            <div class="custom-form-group">
                <label class="custom-form-label">
                    Konfirmasi password baru
                </label>
                <input
                    type="password"
                    id="confirmNewPassword"
                    class="custom-form-input"
                    placeholder="Masukkan ulang password baru"
                    autocomplete="new-password"
                >
            </div>
            <div style="display:flex; margin:20px auto; justify-content:end;">
                <button 
                    class="btn btn-secondary" 
                    style="margin: auto 16px;"
                    onclick="closeEditPasswordConfirmModal()"
                >Batal</button>
                <button
                    type="button"
                    class="btn btn-primary"
                    style="background-color:#10B981;"
                    onclick="updatePassword()"
                >Update Password</button>
            </div>
        </form>
    </div>
</div>